@{ Layout = "_LayoutUser";}
@model VDCompanyMVC.Models.DTO.MyCaseDTO
<div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
    <div class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
        <div>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-style1 mg-b-10">
                    <li class="breadcrumb-item"><a href="#">Личный кабинет</a></li>
                    <li class="breadcrumb-item"><a href="#">Мои дела</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Просмотр дела</li>
                </ol>
            </nav>
            <h4 class="mg-b-0 tx-spacing--1">@Model.Case.Type от @Model.Case.DateStart</h4>
        </div>
        <div class="d-none d-md-block">
            Статус:
            <button class="btn btn-sm pd-x-15 btn-primary btn-uppercase mg-l-5">
                <i data-feather="compass" class="wd-10 mg-r-5"></i>
                @{string res = "";
                    switch (Model.Case.Status)
                    {
                        case VDCompanyMVC.Models.Objects.TypeCase.Close:
                            res = "Закрыто";
                            break;
                        case VDCompanyMVC.Models.Objects.TypeCase.Open:
                            res = "Открыто";
                            break;
                        case VDCompanyMVC.Models.Objects.TypeCase.InProcess:
                            res = "Обсуждение";
                            break;
                        default:
                            break;
                    }
                }
                @res
            </button>
        </div>
    </div>
    <div class=" ht-100p d-flex flex-column justify-content-between align-items-center">
        <div class="chat-wrapper">
            <div id="chatcontent" class="chat-content">
                <div class="chat-content-header" style="height: auto; padding: 10px 15px;">
                    <h6 id="channelTitle" class="mg-b-0">@Model.Case.Name</h6>
                    <div class="d-flex">
                        <nav id="channelNav">
                            <a href="#" id="buttonmembers" title="Участники дела (Показать/Скрыть)">
                                <i class="fa fa-users fa-2x" aria-hidden="true"></i>
                            </a>
                            <a href="#" id="buttondocs" title="Документы дела">
                                <i class="fa fa-copy fa-2x" aria-hidden="true"></i>
                            </a>
                        </nav>
                    </div>
                </div>

                <div class="chat-content-body">
                    <div class="chat-group">
                    </div>
                </div>

                <div class="chat-content-footer">
                    <nav style="border-right: 1px solid rgba(72, 94, 144, 0.16);">
                        <a href="#" id="addbutton" onclick="openmodal();" title="Прикрепить документ">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
                        </a>
                    </nav>
                    <textarea id="message" class="p-1" style="resize: none; width: 100%; border: none; outline: none;" placeholder="Ваше сообщение"></textarea>
                    <nav style="border-left: 1px solid rgba(72, 94, 144, 0.16);">
                        <a href="#" id="sendbutton" title="Отправить сообщение (CTRL+Enter)" style="transform: rotate(45deg);">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-send"><line x1="22" y1="2" x2="11" y2="13" /><polygon points="22 2 15 22 11 13 2 9 22 2" /></svg>
                        </a>
                    </nav>
                </div>
            </div>
            <div id="listmembers" class="chat-sidebar-left" style="right: auto;">
                <div>
                    <div class="tx-10 tx-uppercase tx-medium tx-center tx-sans" style="z-index: 10; position: sticky; top: 0; background-color:white; padding: 20px 10px; border-bottom: 1px solid rgba(72, 94, 144, 0.16);">
                        <a style="float: left; margin-top: -8px; cursor: pointer;" onclick="toggleleft();" title="Скрыть">
                            <i class="fa fa-chevron-left fa-3x" aria-hidden="true"></i>
                        </a>
                        <a style="line-height: 100%;">Список участников</a>
                    </div>
                    <div class="chat-member-list">
                        @foreach (var item in Model.Lawyers)
                        {
                            <a class="media">
                                <div class="avatar avatar-sm"><span class="avatar-initial rounded-circle">#</span></div>
                                <div class="media-body mg-l-10">
                                    <h6 class="mg-b-0">@item.FIO</h6>
                                </div>
                            </a>
                        }
                    </div>
                </div>
            </div>
            <div id="listdocs" class="chat-sidebar-right">
                <div>
                    <div class="tx-10 tx-uppercase tx-medium tx-center tx-sans" style="z-index: 10; position: sticky; top: 0; background-color:white; padding: 20px 10px; border-bottom: 1px solid rgba(72, 94, 144, 0.16);">
                        <a style="float: right; margin-top: -8px; cursor: pointer;" onclick="toggleright();" title="Скрыть">
                            <i class="fa fa-chevron-right  fa-3x" aria-hidden="true"></i>
                        </a>
                        <a style="line-height: 100%;">Документы</a>
                    </div>
                    <div class="chat-member-list">
                        @*<a href="#" class="media file">
                                <div class="card-file-thumb tx-warning">
                                    <i class="far fa-file-image fa-2x"></i>
                                </div>
                                <div class="media-body mg-l-10">
                                    <span>Изображение.jpeg</span><br>
                                    <small>14:33 10.11.1996</small>
                                </div>
                            </a>
                            <a href="#" class="media file">
                                <div class="card-file-thumb tx-success">
                                    <i class="far fa-file-excel fa-2x"></i>
                                </div>
                                <div class="media-body mg-l-10">
                                    <span>Таблица.xlml</span><br>
                                    <small>14:33 10.11.1996</small>
                                </div>
                            </a>
                            <a href="#" class="media file">
                                <div class="card-file-thumb tx-primary">
                                    <i class="far fa-file-word fa-2x"></i>
                                </div>
                                <div class="media-body mg-l-10">
                                    <span>Документ.docx</span><br>
                                    <small>14:33 10.11.1996</small>
                                </div>
                            </a>
                            <a href="#" class="media file">
                                <div class="card-file-thumb tx-danger">
                                    <i class="far fa-file-pdf fa-2x"></i>
                                </div>
                                <div class="media-body mg-l-10">
                                    <span>Скан.pdf</span><br>
                                    <small>14:33 10.11.1996</small>
                                </div>
                            </a>
                            <a href="#" class="media file">
                                <div class="card-file-thumb tx-info">
                                    <i class="far fa-file-audio fa-2x"></i>
                                </div>
                                <div class="media-body mg-l-10">
                                    <span>Аудио запись.mp3</span><br>
                                    <small>14:33 10.11.1996</small>
                                </div>
                            </a>
                            <a href="#" class="media file">
                                <div class="card-file-thumb tx-brand-02">
                                    <i class="far fa-file-video fa-2x"></i>
                                </div>
                                <div class="media-body mg-l-10">
                                    <span>Видео запись.avi</span><br>
                                    <small>14:33 10.11.1996</small>
                                </div>
                            </a>
                            <a href="#" class="media file">
                                <div class="card-file-thumb tx-brand-03">
                                    <i class="far fa-file-archive fa-2x"></i>
                                </div>
                                <div class="media-body mg-l-10">
                                    <span>Архив файлов.zip</span><br>
                                    <small>14:33 10.11.1996</small>
                                </div>
                            </a>
                            <a href="#" class="media file">
                                <div class="card-file-thumb tx-color-03">
                                    <i class="far fa-file fa-2x"></i>
                                </div>
                                <div class="media-body mg-l-10">
                                    <span>Другой тип файла</span><br>
                                    <small>14:33 10.11.1996</small>
                                </div>
                            </a>
                            <a href="#" class="media file">
                                <div class="card-file-thumb tx-warning">
                                    <i class="far fa-file-image fa-2x"></i>
                                </div>
                                <div class="media-body mg-l-10">
                                    <span>Изображение.jpeg</span><br>
                                    <small>14:33 10.11.1996</small>
                                </div>
                            </a>
                            <a href="#" class="media file">
                                <div class="card-file-thumb tx-success">
                                    <i class="far fa-file-excel fa-2x"></i>
                                </div>
                                <div class="media-body mg-l-10">
                                    <span>Таблица.xlml</span><br>
                                    <small>14:33 10.11.1996</small>
                                </div>
                            </a>*@

                        @foreach (var item in Model.Case.Docs)
                        {
                            <a href="#" class="media file">
                                <div class="card-file-thumb tx-color-03">
                                    <i class="far fa-file fa-2x"></i>
                                </div>
                                <div class="media-body mg-l-10">
                                    <span>@item.URL</span><br>
                                    <small>@item.DateAdd</small>
                                </div>
                            </a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal">
    <div class="modal-dialog m-2" style="max-width: none;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalnewTitle">Загрузка файлов</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">✕</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-header bg-white ">
                        <div class="justify-content-between" style="display: flex;">
                            <label>Добавьте файлы для загрузки</label>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="newcontainer">
                            <div type="image" class="mb-2">
                                <div class="m-2 row justify-content-around">
                                    <div title="Нажмите чтобы добавить" onclick="addimage(this)" style="display: flex; justify-content: center; cursor: pointer;">
                                        <input id="files" type="file" multiple style="display: none;">
                                        <img class="img-fluid" src="~/adding.png">
                                    </div>
                                </div>
                                <div id="addingfiles" class="text-center mt-2"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-danger" onclick="$('#modal').modal('hide');">Закрыть</button>
                <button type="button" class="btn btn-warning" onclick="clearfiles();">Очистить список</button>
                <button type="button" class="btn btn-success" onclick="send();">Загрузить</button>
            </div>
        </div>
    </div>
</div>
<script src="~/spaceuser/lib/jquery/jquery.min.js"></script>
<script src="~/spaceuser/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/spaceuser/lib/feather-icons/feather.min.js"></script>
<script src="~/spaceuser/lib/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="~/spaceuser/lib/jquery.flot/jquery.flot.js"></script>
<script src="~/spaceuser/lib/jquery.flot/jquery.flot.stack.js"></script>
<script src="~/spaceuser/lib/jquery.flot/jquery.flot.resize.js"></script>
<script src="~/spaceuser/lib/chart.js/Chart.bundle.min.js"></script>
<script src="~/spaceuser/lib/jqvmap/jquery.vmap.min.js"></script>
<script src="~/spaceuser/lib/jqvmap/maps/jquery.vmap.usa.js"></script>
<script src="~/spaceuser/assets/js/dashforge.chat.js"></script>
<script src="~/spaceuser/assets/js/signalr.min.js"></script>
<script src="~/spaceuser/assets/js/jquerry.cookie.js"></script>
<script src="~/chat/sweetalert.js"></script>
<script src="~/spaceuser/assets/js/main.js"></script>
<script>
            caseid = @Model.Case.Id;
                        var myform = new FormData();
/* Функция иммитации нажатия на fileinput для выбора нового изображения */
function addimage(elem){
    $(elem).children()[0].click(); // делаем клик по инпут-файлу
}
$('#files').on('change', function(){ // находим в элементе инпут-файл
    $('#addingfiles').empty();
    $('#addingfiles').append('<p>Выбранные файлы:</p>');
    for (let i = 0; i < this.files.length; i++) {
        myform.append('files', this.files[i]);
        $('#addingfiles').append('<b>' + this.files[i].name + ' (' + mathsize(this.files[i].size) + ')</b><br>');
    }
});
function clearmodal(){
    clearfiles();
}
function clearfiles() {
    $('#addingfiles').empty();
    $('#files').val('');
}
function openmodal(){
    clearmodal();
    $('#modal').modal('show');
}
function send() {
    $.ajax({
        url: '/Admin/Gallery',
        method: 'post',
        cache: false,
        contentType: false,
        processData: false,
        data: myform,
        success: function (data) {
            var a = JSON.parse(data);
            if (a.status == 'success') {
                swal('Успешно', a.data, 'success');
            }
            if (a.status == 'error') {
                swal('Ошибка', a.data, 'error');
            }
        },
    });
}
function mathsize(bytes){
    if((t = bytes) < 1024)
        return t + " bytes";
    if((t = bytes / 1024) < 1024)
        return t.toFixed(2) + " Kb";
    if((t = bytes / 1024 / 1024) < 1024)
        return t.toFixed(2) + " Mb";
    else
        return (t / 1024).toFixed(2) + " Gb";
}
$('.trash').on('click', function() {
    var id_img = $(this).attr('id_image');
    swal({
        title: "Подтверждение",
        text: "Удалить изображение?",
        buttons: {
            del: {
                text: "Удалить"
            },
            cancel_: {
                text: "Отмена"
            }
        }
    }).then((value) => {
        if (value === 'cancel_')
            return;
        if (value === 'del') {
            $.ajax({
                url: '/Admin/DelGallery',
                method: 'post',
                data: "Id=" + id_img,
                success: function(data) {
                    var a = JSON.parse(data);
                    if (a.status == 'success') {
                        swal('Успешно', a.data, 'success');
                    }
                    if (a.status == 'error') {
                        swal('Ошибка', a.data, 'error');
                    }
                }
            });
        }
    });
});
</script>