@{ Layout = "_LayoutAdmin"; }
@model VDCompanyMVC.Models.Pages.ModelAdminCases
<!--MAINPAGE-->
<div class="content content-fixed">
    <div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
        <div class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
            <div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb breadcrumb-style1 mg-b-10">
                        <li class="breadcrumb-item"><a href="#">Главная страница</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Дела</li>
                    </ol>
                </nav>
                <h4 class="mg-b-0 tx-spacing--1">Все дела компании</h4>
            </div>
            <!--<div class="d-none d-md-block">
                <button class="btn btn-sm pd-x-15 btn-primary btn-uppercase mg-l-5">
                    <i data-feather="check"
                       class="wd-10 mg-r-5"></i> Добавить нового юриста
                </button>
            </div>-->
        </div>
        <div class="row row-xs">
            <div class="col-lg">
                <div class=" ht-100p d-flex flex-column justify-content-between align-items-center">
                    <div class="table-responsive">
                        <table class="table table-primary table-hover table-striped mg-b-0">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Название</th>
                                    <th scope="col">Тип дела</th>
                                    <th scope="col">Дата создания</th>
                                    <th scope="col">Статус</th>
                                    <th scope="col">Действия</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; Model != null && i < Model.Cases.Count; i++)
                                {
                                    <tr>
                                        <th scope="row">@Model.Cases[i].Id</th>
                                        <td>@Model.Cases[i].Name</td>
                                        <td>@Model.Cases[i].Type</td>
                                        <td>@Model.Cases[i].DateStart</td>
                                        <td>
                                            @{
                                                string status = "";
                                                switch (@Model.Cases[i].Status)
                                                {
                                                    case VDCompanyMVC.Models.Objects.TypeCase.Close:
                                                        status = "Закрыто";
                                                        break;
                                                    case VDCompanyMVC.Models.Objects.TypeCase.Open:
                                                        status = "Открыто";
                                                        break;
                                                    case VDCompanyMVC.Models.Objects.TypeCase.InProcess:
                                                        status = "В процессе";
                                                        break;
                                                    default:
                                                        break;
                                                }
                                            }
                                            @status
                                        </td>
                                        <td>
                                            <div class="btn-group w-100" role="group">
                                                <button type="button" class="btn  btn-outline-success" onclick="getmembers(@Model.Cases[i].Id);">Управление</button>
                                                <a href="/Admin/Case/@Model.Cases[i].Id" class="btn  btn-outline-primary">Перейти</a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- container -->
</div><!-- content -->

<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content tx-14">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLabel">Управление участниками</h6>
                <button type="button" class="close" onclick="closemodal()">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="lawyersincase">
                    <label>Участники дела</label>
                    <table id="tablemembers" class="table table-bordered table-hover">
                    </table>
                </div>
                <label>Добавить участника (выберите из списка)</label>
                <select id="id_adv" class="form-control">
                </select>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-sm tx-13" onclick="closemodal()">Закрыть</button>
                <button type="button" class="btn btn-primary tx-13" onclick="addLawyer()">Добавить</button>
            </div>
        </div>
    </div>
</div>
<script src="~/spaceuser/lib/jquery/jquery.min.js"></script>
<script src="~/spaceuser/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/spaceuser/lib/feather-icons/feather.min.js"></script>
<script src="~/spaceuser/lib/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="~/spaceuser/lib/jquery.flot/jquery.flot.js"></script>
<script src="~/spaceuser/lib/jquery.flot/jquery.flot.stack.js"></script>
<script src="~/spaceuser/lib/jquery.flot/jquery.flot.resize.js"></script>
<script src="~/spaceuser/lib/chart.js/Chart.bundle.min.js"></script>
<script src="~/spaceuser/lib/jqvmap/jquery.vmap.min.js"></script>
<script src="~/spaceuser/lib/jqvmap/maps/jquery.vmap.usa.js"></script>
<script src="~/spaceuser/assets/js/dashforge.chat.js"></script>
<script src="~/spaceuser/assets/js/signalr.min.js"></script>
<script src="~/spaceuser/assets/js/jquerry.cookie.js"></script>
<script src="~/spaceuser/assets/js/main.js"></script>
<script src="~/spaceadmin/assets/js/main.js"></script>
