@{ Layout = "_LayoutLaw"; }
@model VDCompanyMVC.Models.DTO.IndexLawDTO
    <!--MAINPAGE-->
<div class="content content-fixed">
    <div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
        <div class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
            <div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb breadcrumb-style1 mg-b-10">
                        <li class="breadcrumb-item"><a href="#">Главная страница</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Мониторинг пользователей</li>
                    </ol>
                </nav>
                <h4 class="mg-b-0 tx-spacing--1">Мои дела</h4>
            </div>
            <div class="d-none d-md-block">
                <button class="btn btn-sm pd-x-15 btn-primary btn-uppercase mg-l-5">
                    <i data-feather="file"
                       class="wd-10 mg-r-5"></i> Посмотреть юристов
                </button>
            </div>
        </div>

        <div class="row row-xs">
            <div class="col-sm-6 col-lg-3">
                <div class="card card-body">
                    <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Успешные дела</h6>
                    <div class="d-flex d-lg-block d-xl-flex align-items-end">
                        <h3 class="tx-normal tx-rubik mg-b-0 mg-r-5 lh-1">@Model.PersentUpCases</h3>
                        <p class="tx-11 tx-color-03 mg-b-0">
                            <span class="tx-medium tx-success">
                                1.2% <i class="icon ion-md-arrow-up"></i>
                            </span> за последнюю неделю
                        </p>
                    </div>
                    <div class="chart-three">
                        <div id="flotChart3" class="flot-chart ht-30"></div>
                    </div><!-- chart-three -->
                </div>
            </div><!-- col -->
            <div class="col-sm-6 col-lg-3 mg-t-10 mg-sm-t-0">
                <div class="card card-body">
                    <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Уникальных пользователей</h6>
                    <div class="d-flex d-lg-block d-xl-flex align-items-end">
                        <h3 class="tx-normal tx-rubik mg-b-0 mg-r-5 lh-1">@Model.CountUsers</h3>
                        <p class="tx-11 tx-color-03 mg-b-0">
                            <span class="tx-medium tx-success">
                                70 <i class="icon ion-md-arrow-up"></i>
                            </span> за последнюю неделю
                        </p>
                    </div>
                    <div class="chart-three">
                        <div id="flotChart4" class="flot-chart ht-30"></div>
                    </div><!-- chart-three -->
                </div>
            </div><!-- col -->
            <div class="col-sm-6 col-lg-3 mg-t-10 mg-lg-t-0">
                <div class="card card-body">
                    <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Всего дел</h6>
                    <div class="d-flex d-lg-block d-xl-flex align-items-end">
                        <h3 class="tx-normal tx-rubik mg-b-0 mg-r-5 lh-1">@Model.CountCases</h3>
                        <p class="tx-11 tx-color-03 mg-b-0">
                            <span class="tx-medium tx-success">
                                30 <i class="icon ion-md-arrow-up"></i>
                            </span> за последнюю неделю
                        </p>
                    </div>
                    <div class="chart-three">
                        <div id="flotChart5" class="flot-chart ht-30"></div>
                    </div><!-- chart-three -->
                </div>
            </div><!-- col -->
            <div class="col-sm-6 col-lg-3 mg-t-10 mg-lg-t-0">
                <div class="card card-body">
                    <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Положительных отзывов</h6>
                    <div class="d-flex d-lg-block d-xl-flex align-items-end">
                        <h3 class="tx-normal tx-rubik mg-b-0 mg-r-5 lh-1">@Model.GoodFeedBack</h3>
                        <p class="tx-11 tx-color-03 mg-b-0">
                            <span class="tx-medium tx-success">
                                21 <i class="icon ion-md-arrow-up"></i>
                            </span> за последнюю неделю
                        </p>
                    </div>
                    <div class="chart-three">
                        <div id="flotChart6" class="flot-chart ht-30"></div>
                    </div><!-- chart-three -->
                </div>
            </div><!-- col -->
        </div><!-- row -->
        <div class="space1row"></div>
        <h4 class="mg-b-0 tx-spacing--1">Таблица моих дел</h4>
        <div class="row row-xs">
            <div class="col-lg">
                <div class=" ht-100p d-flex flex-column justify-content-between align-items-center">
                    <div class="table-responsive">
                        <table class="table table-primary table-hover table-striped mg-b-0">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Название</th>
                                    <th scope="col">Тип дела</th>
                                    <th scope="col">Дата старта</th>
                                    <th scope="col">Статус</th>
                                    <th scope="col">Действия</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; Model.Cases != null && i < Model.Cases.Count; i++)
                                {
                                <tr>
                                    <th scope="row">@Model.Cases[i].Id</th>
                                    <td>@Model.Cases[i].Name</td>
                                    <td>@Model.Cases[i].Type</td>
                                    <td>@Model.Cases[i].DateStart</td>
                                    <td>
                                        @{
                                            string result = string.Empty;
                                            switch (Model.Cases[i].Status)
                                            {
                                                case VDCompanyMVC.Models.Objects.TypeCase.Close:
                                                    result = "Закрыто";
                                                    break;
                                                case VDCompanyMVC.Models.Objects.TypeCase.InProcess:
                                                    result = "В процессе";
                                                    break;
                                                case VDCompanyMVC.Models.Objects.TypeCase.Open:
                                                    result = "Активно";
                                                    break;
                                            }
                                        }
                                        @result
                                   </td>
                                    <Td><a href="/Lawyer/Case?id=@Model.Cases[i].Id" class="btn  btn-primary">Посмотреть</a></Td>
                                </tr>
                                }
                            </tbody>
                        </table>
                        @*<nav aria-label="Page navigation example">
                            <ul class="pagination mg-b-0">
                                <li class="page-item disabled">
                                    <a class="page-link page-link-icon" href="#">
                                        <i data-feather="chevron-left"></i>
                                    </a>
                                </li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link page-link-icon" href="#">
                                        <i data-feather="chevron-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </nav>*@
                    </div>
                </div>
            </div>
        </div>
    </div><!-- container -->
</div><!-- content -->